table{
    margin-top: 100px;
}
table,tr,td{    
    width: 280px;
    height: 100px;
    border-collapse: collapse;
}
td:nth-child(n){
    border-bottom: 2px solid black;
    border-collapse: collapse;
}
td:hover{
    background-color: whitesmoke;
}
td:nth-child(n){
    border-right: 2px solid;
} 
 tr:last-child td:nth-child(n){
    border-bottom: 2px solid transparent;
}
td:last-child{
    border-right: 2px solid transparent;
}